.button{
    padding: 16px;
    width: 84px;
    border: 1px;
    border-radius: 6px;
    font-size: 24px;
    background-color: #009688;
    color: white;
    margin: 15px;
  }
  .buttonReset{
    padding: 16px;
    width: 184px;
    border: 1px;
    border-radius: 6px;
    font-size: 24px;
    background-color: #009630;
    color: white;
    margin: 15px;
  }
  .disabled{
    background-color: #80808082;
  }
  .box{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  input{
    display: block;
    margin: 5px;
  }
  